.ui-container-centre{
    border-bottom:3px solid rgb(204, 198, 198);
    color: rgb(0, 0, 0);
    justify-content: center;

}
.field{
    display: flex;
    flex-direction: column;
}
#contactInput{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    margin-right: 75%;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
}
.addContactForm{
    font-size: 90%;
    font-family:Arial, Helvetica, sans-serif;
}
.addContactButton{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10%;
    border-style: none;
    color:white;
    font-size:90%;
    background-color:rgb(70, 70, 251);
}
.celledList{
    margin-top: 50px;
}
.item{
    display: flex;
    flex-direction: row;
    border-top: 2px solid rgb(204, 198, 198);
    font-size: 90%;
    font-family:Arial, Helvetica, sans-serif;
}
.trashicon{
    height:1%;
    width: 1%;
    align-self: center;
    margin-left: auto;
}
.header{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 17px;
}
.bottomborder{
    border-top: 2px solid rgb(204, 198, 198);
    align-self:flex-end;
}