.ui-container-centre{
    background-color:black;
    color: antiquewhite;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
}
.field{
    display: flex;
    flex-direction: column;
}
#contactInput{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    margin-right: 75%;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
}
.addContactForm{
    font-size: 110%;
    font-family:Arial, Helvetica, sans-serif;
}
